@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

input[type="number"]{
    width: 30%;
    margin: 10px 0;
}

.game-container{
    height: 100vh;
    width: 50%;
    margin: 0 auto;
}

.lastResult{
    width: 50%;
    border-radius: 25px;
    padding: 5xp;
}